{% extends "base/base.html" %}

{% block title %}
	{{ SITE_NAME }} - About 
{% endblock title %}

{% block content %}
	
	
	
	<div id="about-us">
		<h1>About Us</h1>
		<p>Pollstruck was created in Brooklyn, NY.  Thanks for checking out the site, there are many updates and features planned in the days ahead, so stay tuned!
		</p>
		<p>The purpose of this site is to serve as a place where anyone can come and join, share a question or two and get some answers from the rest of us.		
		</p>
		<p>
			We are very interested in hearing suggestions that you may have for new features, features you feel are missing from the site, or anything else you may find.
			If you feel like sharing, please email us here <a href="mailto:pollstruck@gmail.com">Pollstruck@gmail.com</a>
		</p>
		<p>
			You may also be interested in checking out the frequently asked questions: <a href="/faq/">FAQ</a>
		</p>
		<p>
			Feel free to stick around and check out the site.  Thanks for visiting!
		</p>
	
		<div class="logo">We like: </div>
		<div class="logo"><a href="http://www.python.org/" target="_blank">Python</a></a></div>
		<div class="logo"><a href="http://www.djangoproject.com/" target="_blank">Django</a></div>
		<div class="logo"><a href="http://jquery.com/" target="_blank">jQuery</a></div>
		<div class="logo"><a href="http://www.famfamfam.com/" target="_blank">FAMFAMFAM</a></div>
		<div class="logo"><a href="http://www.eclipse.org/" target="_blank">Eclipse</a></div>
		<div class="logo"><a href="http://teethgrinder.co.uk/open-flash-chart-2/" target="_blank">Open Flash Chart 2</a></div>
		<div class="logo">
			<img src="http://www.python.org/community/logos/python-powered-w-100x40.png"/>
		</div>

	</div>

{% endblock %}


