{% extends "base/base.html" %}

{% block title %}
Hmmm, can't find what you're looking for - Pollstruck
{% endblock title %}

{% block content %}
<h1>404 PAGE NOT FOUND</h1>
<br/><br/>
<h2>
	Hi, you've reached this page because we could not find the page you were just looking for.  
	<br/><br/>
	If you can email us here <a href="mailto:Pollstruck@gmail.com">Pollstruck@gmail.com</a> and let us know what happened we'd really appreciate that.  Really.  
	<br/><br/>
	Sorry about that!
</h2>
{% endblock content %}