{% extends "base/base.html" %}

{% block title %}
Looks like you've received an error - Pollstruck
{% endblock title %}

{% block content %}
<h1>SERVER ERROR 500</h1>
<br/><br/>
<h2>
	Hi, you've reached this page due to an error on the site!  Sorry about that, we are probably trying to fix this right now.  
	<br/><br/>
	If you can email us here <a href="mailto:Pollstruck@gmail.com">Pollstruck@gmail.com</a> and let us know what happened we'd really appreciate that.  Really.  
	<br/><br/>
	Sorry about the error!
</h2>
{% endblock content %}